@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*
COLOURS
#040044 - Dark Blue
#00747B - Turquoise
#78C586 - Avocado
#CBDC48 - Lime
#F9BEBE - Light Pink
#C9526B - Dark Pink
*/

p {
	margin: 0;
	padding: 0;

	padding-right: 0%;
	padding-left: 0%;
}
html, body {
	/* height: 100%; */
	font-family: 'Comfortaa', cursive;
	font-size:1vw;
	color:#040044;
}

.container {
	margin:0 auto;
}
.mainDiv {
	display:flex;
	height: 100vh;

	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.navBarTop {
	display: flex;
	justify-content: flex-end;
	margin-top: 1%;
	margin-right: 1vw;
}
.navBarBottom {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1%;
}
.navBarItem {
	margin-left: 5vw;
	text-align: center;
	flex: initial;
}

.footer {
	display:flex;
	justify-content: flex-end;
	margin-bottom: 1%;
	width: 100%;
}
.footer-item {
  /* height: 200px; */
  flex: 1;
	text-align: center;
}
.footerItemLeft,
.footerItemRight {
  flex: initial;
  width: 100px;
	margin-right: 1vw;
}
.footerItemCenter{
	text-align: center;
}

/*
Main content div, centred vertically
and stretches to fit
 */
.centerBlock{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.smallLogoDiv{
	margin-left: 1%;
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.logo {
	width:20vw;
	height:width;
}
.smallLogo { /* Top left of most pages */
	width:3vw;
	float:left;
}

.title{
	font-family: 'Ubuntu', sans-serif;
	color:#040044;
	font-size:5vw;
	font-weight:bold;
}
.smallTitle{ /* Top left of most pages */
	font-size:1vw;
}

.fullStop {
	color: #F9BEBE;
}

.heading {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.2vw;
	font-weight: bold;
	text-align: center;
}
.underline_rect{
	/*border:1px solid #000;*/
	background-color:#F9BEBE;
	border-radius: 1px;
	height:0.5vw;
	align-self: center;
	margin-bottom: 0.5vw;
}

.para{
	align-self:center;
	margin-bottom: 2vw;
}

/*
Colors the links pink on hover
 */
a {
	text-decoration:none;
	position: relative;
}
/* unvisited link */
a:link {
  color: #040044;
}
/* visited link */
a:visited {
  color: #040044;
}
/* mouse over link */
a:hover {
  color: #C9526B;
}
/* selected link */
a:active {
  color: #C9526B;
}

/*
Adds the bar effect beneath links unless
tagged with noLinkEffect class
 */
a:not(.noLinkEffect)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #CBDC48;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

a:not(.noLinkEffect):hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/*
Styles for icon tabs on software page and games page
 */
.icondiv{
 display: flex;
 flex: initial;
 margin-top: 5vw;
}

.roundIcon {
 margin: 1vw;
 width: 8vw;
 height: 8vw;
 border-radius: 50%;
 box-shadow: 1px 1px 8px grey;
 object-fit:cover;
 transition: transform 0.1s ease;
}

.tabcontent{
	display: flex;
	flex: 1;
	display: block;
}

.roundIcon:hover{
 transform: scale(1.05);
}

.starterTabIcon{
 box-shadow: 1px 1px 15px black;
}
