@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*
COLOURS
#040044 - Dark Blue
#00747B - Turquoise
#78C586 - Avocado
#CBDC48 - Lime
#F9BEBE - Light Pink
#C9526B - Dark Pink


*/

p {
	margin: 0;
	padding: 0;

	padding-right: 0%;
	padding-left: 0%;
}
html, body {
	height: 100%;
	font-family: 'Comfortaa', cursive;
	font-size:1vw;
	color:#040044;
}

.container {
	margin:0 auto;
}

.logo {
	width:20vw;
	height:width;
}
.smallLogo {
	width:3vw;
}

.title{
	font-family: 'Ubuntu', sans-serif;
	color:#040044;
	font-size:5vw;
	font-weight:bold;
}
.smallTitle{
	font-size:1vw;
}

.fullStop {
	color: #F9BEBE;
}

.copyright{
	font-size:1.4vh;
}

.heading {
	font-size: 2.2vw;
	font-weight: bold;
}
.underline_rect{
	/*border:1px solid #000;*/
	background-color:#F9BEBE;
	border-radius: 1px;
	height:10px;
}

.para{
	align:center;
}

a {
	text-decoration:none;
}
/* unvisited link */
a:link {
  color: #040044;
}
/* visited link */
a:visited {
  color: #040044;
}
/* mouse over link */
a:hover {
  color: #C9526B;
}
/* selected link */
a:active {
  color: #C9526B;
}
