@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/*
COLOURS
#040044 - Dark Blue
#00747B - Turquoise
#78C586 - Avocado
#CBDC48 - Lime
#F9BEBE - Light Pink
#C9526B - Dark Pink


*/

p {
	margin: 0;
	padding: 0;
		
	padding-right: 25%;
	padding-left:2%;

}
html, body {
	height: 100%;
	font-family: 'Comfortaa', cursive;
}

.container {
	margin:0 auto;
}

.logo {
	width:20vw;
	height:width;
}

.title{
	font-family: 'Comfortaa', cursive;
	color:#040044;
	font-size:5vw;
	font-weight:bold;
}
