@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.leftCentreDiv {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}
.rightCentreDiv {
  display: flex;
  margin-left: 8vw;
}

/*
Font and style for console text
 */
.console_style {
  font-family: 'Inconsolata', monospace;
  font-size: 4.5vw;
  font-weight: bold;
}

.helloWorldStyle{
  margin-bottom: 3vw; 
}
/*
Indents each of the lines increasingly
 */
.gettingInTouch{
  margin-left: 4vw;
  margin-bottom: 2vw;
}
.onSocialMedia{
  margin-left: 8vw;
  margin-bottom: 2vw;
}
.orEmail{
  margin-left: 12vw;
}

/*
Flashes between 0-255 alpha
 */
.blinking {
  animation-name: blinkingAnim;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.console_text {
  font-family: 'Inconsolata', monospace;
  font-size: 1.3vw;
  color:white;
}
.console_rect {
  border:1px solid #000;
  background-color:black;
  border-radius: 15px;
  padding: 20px;
  width:40vw;
  height:21vw;
}
.console_blinking {
  animation-name: blinkingAnimWhite;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
.console_link:hover,
.console_link:active{
  color:#00747B;
}

/*
If screen size is < 800px
adjusts layout to be column instead of rows
 */
@media screen and (max-width: 800px) {
  .centerBlock{
    flex-direction: column;
  }
  .leftCentreDiv, .rightCentreDiv {
    margin: auto;
  }
  .leftCentreDiv{
    margin-top: 0vh;
    margin-bottom: 2vh;
  }
  .rightCentreDiv{
    margin-top: 2vh;
    margin-bottom: 0vh;
  }
}

/*
Blinking animations for 'cursor'
 */
@keyframes blinkingAnim {
  0% {color:#ffffff00;}
  49% {color:#ffffff00;}
  50% {color:#F9BEBE;}
  100% {color:#F9BEBE;}
}
@keyframes blinkingAnimWhite {
  0% {color:#ffffff00;}
  49% {color:#ffffff00;}
  50% {color:#ffffff;}
  100% {color:#ffffff;}
}
