@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.console_style {
  font-family: 'Inconsolata', monospace;
  font-size: 4.5vw;
  font-weight: bold;
}

.blinking {
  animation-name: blinkingAnim;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.console_text {
  font-family: 'Inconsolata', monospace;
  font-size: 1.3vw;
  color:white;
}
.console_rect {
  border:1px solid #000;
  background-color:black;
  border-radius: 15px;
  padding: 20px;
  width:40vw;
  height:21vw;
}
.console_blinking {
  animation-name: blinkingAnimWhite;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
.console_link:hover,
.console_link:active{
  color:#00747B;
}


@keyframes blinkingAnim {
  0% {color:#ffffff00;}
  49% {color:#ffffff00;}
  50% {color:#F9BEBE;}
  100% {color:#F9BEBE;}
}
@keyframes blinkingAnimWhite {
  0% {color:#ffffff00;}
  49% {color:#ffffff00;}
  50% {color:#ffffff;}
  100% {color:#ffffff;}
}
